nav {
    background: linear-gradient(to right, #33ccff, #ff99cc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  a:hover {
    background-color: white;
    color: #ff99cc;
  }
  